################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/obj/
/Solution/WebApiQueryMongoDb.csproj.user
/Data/aa.log
action.todo
.vscode/
Solution/.vs/
Solution/bin/
Data/countries-with-regional-codes-small.tsv
